@model IEnumerable<ShoppingList.Data.ShoppingListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.Contents)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Priority)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsChecked)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        @if (item.IsChecked == false)
        {
                <td> @Html.DisplayFor(modelItem => item.Contents) </td>
        }
        else
        {
            <td><strike>@Html.DisplayFor(modelItem => item.Contents)</strike></td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.Priority)
        </td>
        @if (item.IsChecked == false)
        {
                <td> @Html.DisplayFor(modelItem => item.Note) </td>
        }
        else
        {
            <td><strike>@Html.DisplayFor(modelItem => item.Note)</strike></td>
        }
        <td>
            @Html.DisplayFor(modelItem => item.IsChecked)
        </td>
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShoppingListItemID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShoppingListItemID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShoppingListItemID })
        </td>
    </tr>
}

</table>
