@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>My Shopping List</h1>
    <p class="lead">Shopping List is a site that can control and organize a shopping list to help you shop more effectively.</p>
    <p><a onclick="@("window.location.href='" + @Url.Action("About") + "'");" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Shopping List</h2>
        <p>
            Get started using your very own custom shopping lists today!
        </p>
        <p><a class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Index", "ShoppingList") + "'");">Start &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Need Help?</h2>
        <p>Need help with using the website? Contact us.</p>
        <p><a class="btn btn-default" onclick="@("window.location.href='" + @Url.Action("Contact") + "'");">Contact us &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Open Source!</h2>
        <p>This site is open source! You can find the source code here.</p>
        <p><a class="btn btn-default" href="https://github.com/ElevenFiftyApprentices/Team_NET_MT">Take me to the Code &raquo;</a></p>
    </div>
</div>